.home{
    background-image: url(https://images.unsplash.com/photo-1666486956592-c7e3d2d7a13b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: rgba(0, 0, 0, 0.7);
}
.aboutBox h1 {
    text-shadow: 1px 5px 20px black;
}
.aboutBox p{
    
    text-shadow: 1px 5px 20px black;
}